<%- include("partials/header.ejs") %>

    <form method="POST" id="tasks-box" class="side-panes-form">
        <input type="text" name="task" value="<%=tasks[k]%>" id="input-tasks-box" class="placeholder form" />
        <input type="text" name="list" value="<%=lists[k]%>" id="input-lists-box" class="placeholder form" />
        <input type="text" name="description" value="<%=descriptions[k]%>" id="input-description-box" class="placeholder form" />
        <div id="tasks-buttons-box">
            <button type="submit" formaction="/delete/<%=k%>" id="button-delete-task" class="tasks-buttons">
                Delete Task
            </button>
            <button type="submit" formaction="/save" id="button-save-changes" class="tasks-buttons">
                Save Changes
            </button>
        </div>
    </form>
</div>
</body>

</html>